<ion-header>
  <ion-toolbar>
    <div class="container-flex">
      <ion-button *ngIf="!noShowButton" (click)="goBack()" fill="empty" class="back-button">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <div class="icon">
        <ion-icon name="videocam" color="new"></ion-icon>
      </div>
      <ion-title>Jitcall</ion-title>
    </div>
    <ion-button *ngIf="!noShowExitButton" (click)="presentLogoutAlert()" fill="clear" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
