.icon{
    border-radius: .8rem;
    background-color: #2074F8;
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: center;
}
.container-flex{
    padding: 1rem;
    height: 100%;
    display: flex;
}
.container-flex[_ngcontent-ng-c312712954]{
    padding: 0;
}
ion-button{
    align-content: center;
    text-align: center;
    border-radius: 1rem;
}