<div class="container">
  <div class="icon">
    <ion-icon name="videocam" color="dark" size="large"></ion-icon>
  </div>
  <div class="title">
    <h1>Jitcall</h1>
    <h1>{{h1}}</h1>
  </div>
  <form>
    <ion-input *ngIf="!isLogin" label="First name" label-placement="floating" fill="outline" placeholder="First name">
      <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
    </ion-input>
    <ion-input *ngIf="!isLogin" label="Last name" label-placement="floating" fill="outline" placeholder="Last name">
      <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
    </ion-input>
    <ion-input label="Email" label-placement="floating" fill="outline" type="email" placeholder="Email">
      <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
    </ion-input>
    <ion-input *ngIf="!isLogin" label="Phone" label-placement="floating" fill="outline" type="tel" placeholder="Phone">
      <ion-icon slot="start" name="call" aria-hidden="true"></ion-icon>
    </ion-input>
    <ion-input label="Password" label-placement="floating" fill="outline" type="password" placeholder="Password">
      <ion-icon slot="start" name="key-sharp" aria-hidden="true"></ion-icon>
      <ion-button fill="clear" slot="end" aria-label="Show/hide">
        <ion-icon slot="icon-only" name="eye" aria-hidden="true" color="medium"></ion-icon>
      </ion-button>
    </ion-input>
    <ion-button class="sign-up" expand="block" fill="clear" shape="round" color="light">
      {{ionButton}}
    </ion-button>
  </form>
  <div>
    <ion-label *ngIf="isLogin">Don't have an account? </ion-label>
    <ion-label *ngIf="!isLogin">Have a account? </ion-label>
    <ion-label class="routing" (click)="goToToggle()"> 
      {{ isLogin ? 'Register' : 'Sign in' }}
    </ion-label>
  </div>
</div>