<div class="container">
  <div class="icon">
    <ion-icon name="videocam" color="new" size="large"></ion-icon>
  </div>
  <div class="title">
    <h1>Jitcall</h1>
    <h1>{{ isLogin ? 'Iniciar Sesión' : "Registro"}}</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-form-field
      *ngIf="!isLogin"
      [form]="form"
      controlName="firstName"
      label="Nombre"
      placeholder="Nombre"
      iconName="person"
      [required]="true">
    </app-form-field>

    <app-form-field
      *ngIf="!isLogin"
      [form]="form"
      controlName="lastName"
      label="Apellido"
      placeholder="Apellido"
      iconName="person"
      [required]="true">
    </app-form-field>

    <app-form-field
      [form]="form"
      controlName="email"
      label="Email"
      placeholder="Email"
      type="email"
      iconName="mail-outline"
      [required]="true">
    </app-form-field>

    <app-form-field
      *ngIf="!isLogin"
      [form]="form"
      controlName="phone"
      label="Teléfono"
      placeholder="Teléfono"
      type="tel"
      iconName="call"
      [maxlength]="10"
      [minlength]="10"
      [required]="true"
      (keyPress)="onlyNumbers($event)">
    </app-form-field>

    <app-form-field
      [form]="form"
      controlName="password"
      label="Contraseña"
      placeholder="Contraseña"
      type="password"
      iconName="key-sharp"
      [showPasswordToggle]="true"
      [required]="true"
      [minlength]="6">
    </app-form-field>

    <ion-button 
      class="sign-up" 
      expand="block" 
      fill="clear" 
      shape="round" 
      color="light" 
      [disabled]="form.invalid" 
      type="submit">
      {{ isLogin ? 'Iniciar Sesión' : 'Registrarse' }}
    </ion-button>
  </form>

  <div class="switch-mode">
    <ion-label>
      {{ isLogin ? '¿Aún no tienes una cuenta?' : '¿Ya tienes una cuenta?' }}
    </ion-label>
    <ion-label class="routing" fill="clear" (click)="toggleMode()">
      {{ isLogin ? 'Regístrate' : 'Inicia Sesión' }}
    </ion-label>
  </div>

  <div class="spinner-overlay" *ngIf="loading">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>
</div>
