<ion-content color="new3">
  <app-header [noShowButton]="false"></app-header>
  <app-img-container [enableImageUpload]="true"></app-img-container>
  <div class="container" id="open-modal" expand="block">
    <ion-icon name="person-outline" size="large"></ion-icon>
    <div>
      <h5>Nombre</h5>
      <ion-label>{{ currentUser?.firstName }} {{ currentUser?.lastName }}</ion-label>
    </div>
  </div>
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Cambiar nombre</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="cancel()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <app-form-field
            [form]="form"
            controlName="firstName"
            label="Nombre"
            placeholder="Nombre"
            iconName="person"
            [required]="true">
          </app-form-field>

          <app-form-field
            [form]="form"
            controlName="lastName"
            label="Apellido"
            placeholder="Apellido"
            iconName="person"
            [required]="true">
          </app-form-field>

          <ion-button
          class="save"
            expand="block"
            color="new5"
            shape="round"
            [disabled]="form.invalid || form.pristine"
            type="submit">
            Guardar
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="container">
    <ion-icon name="call-outline" size="large"></ion-icon>
    <div>
      <h5>Teléfono</h5>
      <ion-label>{{ currentUser?.phone }}</ion-label> 
    </div>
  </div>
</ion-content>